<%- include header %>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <% if(success){ %>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= success %>
            <!-- <a href="javascript:void(0)" class="alert-link">this important alert message</a>. -->
        </div>
        <!-- <div class="alert alert-success"><%= success %></div> -->
        <% } %>
        <% if(error){ %>
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= error %>
            <!-- <a href="javascript:void(0)" class="alert-link">this important alert message</a>. -->
        </div>
        <!-- <div class="alert alert-danger"><%= error %></div> -->
        <% } %>
        <!-- <ol class="breadcrumb">
            <li class="active">blog</li>
            </ol> -->
    </div>
</div>
<section id="main">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6 col-md-offset-3">
                <div class="well">
                    <form action="/search" method="GET" id="searchbar" >
                           <input type="text" name="keyword" class="form-control"  placeholder="Search">
                    </form>
                </div>
                </div> -->
            <div class="col-md-8 col-md-offset-2">
                <div class="btn-group btn-group-justified btn-group-raised">
                    <a data-toggle="modal" data-target="#post" class="btn" id="custom-btn">發文</a>
                    <a href="/pdfUpload" class="btn" id="custom-btn">新增題目</a>
                    <a data-toggle="modal" data-target="#upload" class="btn" id="custom-btn">自訂考卷</a>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2" style="margin-top:20px">
                <% posts.forEach(function(post, index){  %>
                <div class="well" >
                    <h3>
                      <span class="grey" >
                      <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
                      <!-- <b><i class="material-icons">stars</i><%= post.star %></b> -->
                    </span>
                    </h3>

                    <p class="grey"><%= post.time.date %> — <%= post.name %></p>
                    <h4>
                        <% if(post.post){ %>
                            <p><%- post.post.split(/\s+</)[0]%></p>
                        <% } %>
                    </h4>
                    <span style="font-size: 15x;margin-top:0px;"><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" style="margin-bottom:25px;">繼續閱讀</a></span><br><br>
                    <!-- <span class="grey">Tags:</span>
                    <% post.tags.forEach(function(tag, index){ %>
                    <% if(tag){  %>
                    <span><a href="/tags/<%= tag %>"><%= tag %></a></span>
                    <% } %>
                    <% }) %> -->
                    <p>
                        <span class="glyphicon glyphicon-thumbs-up grey" style="padding-right:5px;"></span><%= post.star %>
                        <!-- <span class="grey" style="margin-right:25px;">推: <%= post.star %></span><br> -->
                        <span class="fa fa-eye grey" style="padding-right:5px;padding-left:15px;"></span><%= post.pv %>
                    </p>

                </div>
                <% })  %>
                <div class="col-md-9 col-md-offset-3">
                    <ul class="pagination pagination-lg">
                        <% if(total > 1){ %>
                            <% if(!isFirstPage){ %>
                            <li><a href="?p=<%= page-1 %>">Previous</a></li>
                            <% } %>
                            <% for(var i = 1; i <= total; i++){ %>
                            <% if(page == i){ %>
                            <li class="active"><a href="?p=<%= i %>"><%= i %></a></li>
                            <% }else{ %>
                            <li><a href="?p=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% } %>
                            <% if(!isLastPage){ %>
                            <li><a href="?p=<%= page+1 %>">Next</a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Write post</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group label-floating">
                        <label class="control-label">Title</label>
                        <input type="text" name="title" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="editor1" class="form-control" placeholder="Page Body" rows = "20" cols = "100"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <input type="text" name="tags" class="form-control" placeholder="Use # to add tags" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" name="fileName" id="fileName" style="display:none">
                        <p style="font-size:15px;">附件</p>
                        <div id="here">
                            <p id="title" style="font-size:15px;"></p>
                            <div id="progressBar" style="display:none">
                                <div class="bs-component">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar" style="width:0%" id="percentage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="container" id="fileSelect">
                            <input type="file" name="file" id="fileElem1" class="form-control" onchange="handleFiles1(this.files)" style="display:none">
                            <a href="#" id="fileSelect1" class="btn" style="background-color:#ddd;text-transform:none;width:100%">+</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close" id="close" style="display:none"><span aria-hidden="true">&times;</span></a>
                </div>
                <div class="modal-body" id="area">
                    <h3 id="title">自訂考卷</h3>
                    <div id="progressBar" style="display:none">
                        <div class="bs-component">
                            <div class="progress progress-striped active">
                                <div class="progress-bar" style="width:0%" id="percentage"></div>
                            </div>
                        </div>
                    </div>
                    <form method="post" action='/newtest'>
                    <div style="container" id="fileSelect">
                        <input type="text" name="title" class="form-control" autocomplete="off" placeholder="考卷名稱">
                    </div>
                    <div class="form-group">
                        <label style="color:#888;">選擇科目</label><br>
                        <div class="radio radio-primary">
                            <label>
                            <input type="radio" name="subject" value="chinese" id="radio1">
                            國文
                            </label>
                        </div>
                        <div class="radio radio-primary">
                            <label>
                            <input type="radio" name="subject" value="english" id="radio2">
                            英文
                            </label>
                        </div>
                        <div class="radio radio-primary">
                            <label>
                            <input type="radio" name="subject" value="math" id="radio3">
                            數學
                            </label>
                        </div>
                        <div class="radio radio-primary">
                            <label>
                            <input type="radio" name="subject" value="social">
                            社會
                            </label>
                        </div>
                        <div class="radio radio-primary">
                            <label>
                            <input type="radio" name="subject" value="science">
                            自然
                            </label>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">新增</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <hr>
                </div>
        </div>
    </div>
</div>
<%- include footer %>
