<%- include header %>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-17 col-md-offset-0">
                <div class="well">
                    <div class="container">
                        <h1><%= doc.name %></h1>
                        <hr>
                        <p>請完成以下題目</p>
                        <h3><a title="編輯" href="/txt/<%= title %>" > 編輯 </a></h3>
                        <p class="text-danger">*必填</p>
                        <br>
                    </div>
                    <form action="/test/<%= doc.name %>" method="post">
                        <fieldset>
                          <%var sum = 1; %>
                          <% doc.choice.forEach(function(type, index){ %>
                            <div class="col-md-20 col-md-offset-0" id="container<%= index %>">

                                 <textarea name = "post" rows = "20" cols = "100"> <%= doc.post[ index ] %> </textarea><br/>


                                <% if(type[0] == 'single' ){ %>

                                  <%for(var i =0;i < Number(type[1]); i++){%>

                                <div class="form-group" >
                                  <p><%= sum %></p>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="A" id="radio1">
                                        選項A
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="B" id="radio2">
                                        選項B
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="C" id="radio3">
                                        選項C
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                        <input type="radio" name="<%= index %>" value="D" id="radio4">
                                        選項D
                                        </label>
                                    </div>
                                    <% sum = sum +1; %>
                                    <button onclick="removeText(<%= index%>,'<%= doc.name%>',<%= Number(type[1])-1 %>)" type="button">刪除此題</button>
                                </div>
                                  <% } %>
                                  <br>
                                  <button onclick="single(<%= index%>,'<%= doc.name%>',<%= Number(type[1])+1 %>)" type="button">新增單選</button>
                                  <button onclick="multiple(<%= index%>,'<%= doc.name%>',<%= Number(type[1])+1 %>)" type="button">新增多選</button>
                                <% } %>

                                <% if(type[0] == 'multiple' ){ %>

                                  <%for(var i =0;i < Number(type[1]); i++){%>

                                <div class="form-group" >
                                  <p><%= sum %></p>
                                  <div class="checkbox">
                                      <label id="check">
                                          <input type="checkbox" name="<%= index %>" value="A">
                                          <span id="check-item">選項A</span>
                                      </label>
                                  </div>
                                  <div class="checkbox">
                                      <label id="check">
                                          <input type="checkbox" name="<%= index %>" value="B">
                                          <span id="check-item">選項B</span>
                                      </label>
                                  </div>
                                  <div class="checkbox">
                                      <label id="check">
                                          <input type="checkbox" name="<%= index %>" value="C">
                                          <span id="check-item">選項C</span>
                                      </label>
                                  </div>
                                  <div class="checkbox">
                                      <label id="check">
                                          <input type="checkbox" name="<%= index %>" value="D">
                                          <span id="check-item">選項D</span>
                                      </label>
                                  </div>
                                    <% sum = sum +1; %>
                                    <button onclick="removeText(<%= index%>,'<%= doc.name%>',<%= Number(type[1])-1 %>)" type="button">刪除此題</button>
                                </div>
                                  <% } %>
                                  <br>
                                  <button onclick="single(<%= index%>,'<%= doc.name%>',<%= Number(type[1])+1 %>)" type="button">新增單選</button>
                                  <button onclick="multiple(<%= index%>,'<%= doc.name%>',<%= Number(type[1])+1 %>)" type="button">新增多選</button>
                                <% } %>
                            </div>
                            <% }) %>
                        </fieldset>
                        <input type="submit" value="送出答案">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

function single(index,name,number) {

  var id = "container"+index;
  var node = document.createElement("div");
  node.innerHTML = '<div class="radio radio-primary"><label><input type="radio" name="p" value="A" id="radio1">選項A</label></div><div class="radio radio-primary"><label><input type="radio" name="p" value="B" id="radio2">選項B</label></div><div class="radio radio-primary"><label><input type="radio" name="p" value="C" id="radio3">選項C</label></div><div class="radio radio-primary"><label><input type="radio" name="p" value="D" id="radio4">選項D</label></div>';
  document.getElementById(id).appendChild(node);

  $.material.init();
  var choice = 'single';
  var number = number;

  var data ={
    name:name,
    choice:choice,
    number: number,
    index: index
  };

  $.ajax({
          type: 'POST',
          url: 'http://localhost:1209/choice',
          data: data,
          dataType: 'application/json',
          success: function(data) {
              console.log('success');
              console.log(data);
          }
      });
      location.reload(true);
}

function removeText(index,name,number) {

  var choice = 'single';
  var number = number;

  var data ={
    name:name,
    choice:choice,
    number: number,
    index: index
  };

  $.ajax({
          type: 'POST',
          url: 'http://localhost:1209/choice',
          data: data,
          dataType: 'application/json',
          success: function(data) {
              console.log('success');
              console.log(data);
          }
      });
  location.reload(true);
}

function multiple(index,name,number) {

  var id = "container"+index;
  var node = document.createElement("div");
  node.innerHTML = '<div class="checkbox"><label id="check"><input type="checkbox" name="l" value="A"><span id="check-item">選項A</span></label></div><div class="checkbox"><label id="check"><input type="checkbox" name="l" value="B"><span id="check-item">選項B</span></label></div><div class="checkbox"><label id="check"><input type="checkbox" name="l" value="C"><span id="check-item">選項C</span></label></div><div class="checkbox"><label id="check"><input type="checkbox" name="l" value="D"><span id="check-item">選項D</span></label></div>';
  document.getElementById(id).appendChild(node);

  $.material.init();
  var choice = 'multiple';
  var number = number;

  var data ={
    name:name,
    choice:choice,
    number: number,
    index: index
  };

  $.ajax({
          type: 'POST',
          url: 'http://localhost:1209/choice',
          data: data,
          dataType: 'application/json',
          success: function(data) {
              console.log('success');
              console.log(data);
          }
      });
      location.reload(true);
}

</script>

<%- include footer %>
