
<%- include header  %>
	<% var i = page; %>

	<form method="post">
		<textarea name = "post" rows = "20" cols = "100"> <%= content[i]; %> </textarea><br/>
		<input type="submit" value="儲存修改">
	</form>

	<div>
		<% if ( i > 0) { %>
			<span class="prepage" > <a title="上一題" href="/txt/<%= title %>?p=<%= page-1 %>" > 上一題 </a> </span>
		<% } %>
		<% if ( i < data_length-1 ) { %>
			<span class="nextpage" > <a title="下一題" href="/txt/<%= title %>?p=<%= page+1 %>" > 下一題 </a> </span>
		<% } %>
	</div>
<%- include footer  %>