<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </header>

  <nav>
  	    <span><a title="主頁" href="/">Home</a></span>
        <span><a title="存檔" href="/archive">記錄</a></span>
        <span><a title="標籤" href="/tags">標籤</a></span>
  		<% if(user){ %>
  		<span><a title="登出" href="/logout">登出</a></span>
  		<span><a title="上傳" href="/upload">圖片上傳</a></span>
        <span><a title="上傳" href="/pdfUpload">PDF上傳</a></span>
  		<span><a title="發表" href="/post">發表</a></span>
  		<% } else { %>
  		<span><a title="登入" href="/login">登入</a></span>
  		<span><a title="註冊" href="/signup">註冊</a></span>
  		<% } %>
      <span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
  </nav>
<article>
<% if (success){ %>
<div><%= success %></div>
<% } %>

<% if (error){ %>
<div><%= error %></div>
<% } %>
