<%- include header %>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top:20px;">
                <div class="well" style="padding-left:0px;padding-right:0px;padding-bottom:0px;">
                    <div class="col-md-13 col-md-offset-0" style="margin-top:20px;margin-bottom:20px;margin-left:40px;">
                        <h1><%= doc.name %></h1>

                    </div>
                    <% doc.choice.forEach(function(type, index, array){ %>
                    <div class="col-md-13 col-md-offset-0" id="container<%= index %>" style="padding:25px 45px 5px 45px"  onmousedown="sectionFocus(<%= index %>)">
                        <div style="margin-bottom:15px;">
                            <h4><%= sum %></h4>
                        </div>


                        <form action="/testsave" method="post" id="form<%= index %>">
                            <fieldset style="margin-bottom:25px;">
                                <!-- form裡面的東西排版時，要小心別移到form外面，不然儲存時就會找不到name -->

                                <div class="form-group" style="margin-top:10px;">
                                    <!-- 這是大標題的textarea ，為了明顯加了strong -->
                                    <strong><textarea id="title-edit<%= index %>" name="post" rows="1" class="form-control" style="overflow:hidden;width:80%;height:auto;" onfocus="sectionFocus(<%= index %>)"> <%= doc.post.test[ index ] %> </textarea></strong>
                                </div>

                                <hr><!-- hr放這是區別題組的大題目(上面那個textarea)和每個小題的小題目 -->
                                <%for(var i =0;i < type.length; i++){%>
                                    <!-- i代表每個題組裡的小題 -->

                                <div class="form-group" style="margin-top:10px;">
                                    <% var option = doc.post.choice[index][i]; %>
                                    <div class="form-group" style="margin-top:10px;">
                                        <!-- 這是小標題的textarea -->
                                        <textarea id="title-edit<%= index %>" name="TextInform" rows="1" class="form-control" style="overflow:hidden;width:60%;height:auto;" onfocus="sectionFocus(<%= index %>)"> <%= doc.TextInform[ index ][i] %> </textarea>
                                    </div>
                                    <% Object.keys(option).forEach(function(key,optionindex) { %>
                                        <!-- optionindex代表題組裡的每一小題 -->

                                    <% if(type[i] == 'single' ){ %>
                                    <div class="media" style="margin-top:5px;">
                                        <div class="media-left media-middle" style="width:100%;padding:15px 20px 0px 5px;" >

                                            <div class="radio radio-primary" style="margin:0px 0px 0px 0px">
                                                <label style="width:100%;">
                                                    <!-- 如果已經儲存過答案的選項會預設勾起來 -->
                                                    <% var ans_flag = doc.ans[index][i].indexOf(key) %>
                                                        <!-- 用indexOf()檢查，有的話ans_flag就是key的index，否則是-1 -->
                                                        <% if( ans_flag > -1 ){ %>
                                                            <input type="radio" name="radio<%= i %>" value="<%= key %>" id="<%= sum %>" checked="checked" required>
                                                        <% }else{ %>
                                                            <input type="radio" name="radio<%= i %>" value="<%= key %>" id="<%= sum %>" required >
                                                        <% } %>
                                                    <textarea name="<%= key %>" class="form-control" rows="1" style="margin-bottom:0px;" id="optionedit<%= sum %><%= key %>" onClick="this.setSelectionRange(0, this.value.length)" style="padding-top:0px;" required> <%= doc.post.choice[ index ][i][key] %> </textarea>
                                                    <h4 style="margin:0px" onclick="editOption(<%= sum %><%= key %>)" id="option<%= sum %><%= key %>"><%= doc.post.choice[ index ][i][key] %></h4>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <button type="button" onclick="removeOneOption('<%= doc.name%>',<%= index%>,<%= i%>,<%= optionindex %>)" aria-hidden="true" class="close" style="font-size:30px;">×</button>
                                        </div>
                                    </div>
                                    <% } else if (type[i] == 'multiple' ){ %>
                                    <div class="media" style="margin-top:5px;">
                                        <div class="media-left media-middle" style="width:100%;padding:15px 20px 0px 5px;" >

                                            <div class="checkbox" style="margin:0px 0px 0px 0px">
                                                <label  style="width:100%;">
                                                    <!-- 如果已經儲存過答案的選項會預設勾起來 -->
                                                    <% var ans_flag = doc.ans[index][i].indexOf(key) %>
                                                        <!-- 用indexOf()檢查，有的話ans_flag就是key的index，否則是-1 -->
                                                        <% if( ans_flag > -1 ){ %>
                                                            <input type="checkbox" style="padding-right:5px" name="checkbox<%= i %>" value="<%= key %>" checked="checked" id="<%= sum %>" required>
                                                        <% }else{ %>
                                                            <input type="checkbox" style="padding-right:5px" name="checkbox<%= i %>" value="<%= key %>" id="<%= sum %>" required>
                                                        <% } %>

                                                    <span id="check-item">
                                                        <!-- A<%= doc.post.choice[ index ][i][key] %> -->
                                                    </span>
                                                    <textarea name = "<%= key %>" class="form-control" rows="1" onfocus="sectionFocus(<%= index %>)" required> <%= doc.post.choice[ index ][i][key] %> </textarea>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <button type="button" onclick="removeOneOption('<%= doc.name%>',<%= index%>,<%= i%>,<%= optionindex %>)" aria-hidden="true" class="close" style="font-size:30px;">×</button>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% }) %>
                                    <div style="float:right;">
                                        <div class="btn-group" id="dropdown<%= index %>" >
                                            <button class="btn btn-raised dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">題目類型</button>
                                            <ul class="dropdown-menu">
                                                <li><a onclick="convert('single','<%= doc.name%>',<%= index%>,<%= i%>)">單選</a></li>
                                                <li><a onclick="convert('multiple','<%= doc.name%>',<%= index%>,<%= i%>)">多選</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                        <button onclick="removeText(<%= index%>,<%= i%>,'<%= doc.name%>')" type="button" class="btn btn-default">刪除</button>
                                        <button onclick="insertOption('<%= doc.name%>',<%= index%>,<%= i%>)" type="button" class="btn btn-default">新增選項</button>

                                        <!-- 題目類型、刪除和新增選項是題組裡的每個小題都要有的 -->
                                        <% sum = sum +1; %>
                                        <% } %>

                                    <div id="btn-group-<%= index %>"style="display:none;margin-top:15px;">
                                        <button onclick="removeall('<%= doc.name%>',<%= index%>)" type="button" class="btn btn-default" id="btn-<%= sum %>">刪除此題</button>
                                        <button onclick="insert('<%= doc.name%>',<%= index%>)" type="button" class="btn btn-default" id="btn-<%= sum %>">新增下一題</button>
                                        <!-- 新增小題就是原本的新增單選 -->
                                        <div class="btn-group" id="convert<%= index %>" >
                                            <button class="btn btn-raised dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">新增小題</button>
                                            <ul class="dropdown-menu">
                                                <li><button onclick="single(<%= index%>,'<%= doc.name%>')" type="button" class="btn btn-default" id="btn-<%= sum %>">新增單選</button></li>
                                                <li><button onclick="multiple(<%= index%>,'<%= doc.name%>')" type="button" class="btn btn-default" id="btn-<%= sum %>">新增多選</button></li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default" id="btn-<%= sum %>" type="button" onclick="formData(<%=sum%>,<%= type.length %>,<%= index %>,'<%= doc.name %>')">儲存變更</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <hr>
                    <% }) %>
                </div>
                <a class="btn btn-raised btn-default" href="/Ansform/<%= doc.name %>">匯出考卷</a>
            </div>
        </div>
    </div>
</section>
<%- include footer %>
