<%- include header %>
<section id="breadcrumb">
   <div class="container">
      <% if(success){ %>
      <div class="alert alert-dismissible alert-success">
         <button type="button" class="close" data-dismiss="alert">×</button>
         <%= success %>
         <!-- <a href="javascript:void(0)" class="alert-link">this important alert message</a>. -->
      </div>
      <!-- <div class="alert alert-success"><%= success %></div> -->
      <% } %>
      <% if(error){ %>
      <div class="alert alert-dismissible alert-danger">
         <button type="button" class="close" data-dismiss="alert">×</button>
         <%= error %>
         <!-- <a href="javascript:void(0)" class="alert-link">this important alert message</a>. -->
      </div>
      <!-- <div class="alert alert-danger"><%= error %></div> -->
      <% } %>
      <!-- <ol class="breadcrumb">
         <li class="active">blog</li>
         </ol> -->
   </div>
</section>
<section id="main">
   <div class="container">
      <div class="row">

        <div class="col-md-4">
           <!-- search bar -->
           <div class="well">
              <h4>題目答案: </h4>
              <div class="input-group">
                <form method="post">
                  <% Answers.forEach(function(ans, index){ %>
                    <% if(index < 9){ %>
                     <%= '0'+(index+1) %>.<textarea name = "ans" rows = "1" cols = "1"><%= ans %></textarea>
                     <% }else{ %>
                       <%= index+1 %>.<textarea name = "ans" rows = "1" cols = "1"><%= ans %></textarea>
                       <% } %>
                 <% })  %>
                 <br>

              </div>
           </div>
        </div>

         <div class="col-md-3">
           <% var i = page; %>

             <textarea name = "post" rows = "20" cols = "100"> <%= content[i] %> </textarea><br/>
             

             <span><a href="/txt/remove/<%= title %>?p=<%= page %>" > 刪除 </a></span>
             <span><a href="/test/<%= title %>" > 回到列表 </a></span>
             <input type="submit" value="儲存修改">
           </form>
           <!-- <form action="remove/<%= title %>?p=<%= page %>" method="get">
             <input type="submit" value="刪除">
           </form> -->

           <div>
             <% if ( i > 0) { %>
               <span class="prepage" > <a title="上一題" href="/txt/<%= title %>?p=<%= page-1 %>" > 上一題 </a> </span>
             <% } %>
             <% if ( i < data_length-1 ) { %>
               <span class="nextpage" > <a title="下一題" href="/txt/<%= title %>?p=<%= page+1 %>" > 下一題 </a> </span>
             <% } %>
           </div>
         </div>
      </div>
   </div>
</section>
<%- include footer %>
